[submodule "APPLEII/libs/GenMakefile"]
	path = src/libs/GenMakefile
	url = https://github.com/kevinfrei/Arduino2Make.git
[submodule "APPLEII/libs/GFX"]
	path = src/libs/GFX
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "APPLEII/libs/BusIO"]
	path = src/libs/BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
[submodule "APPLEII/libs/ST77XX"]
	path = src/libs/ST77XX
	url = https://github.com/adafruit/Adafruit-ST7735-Library.git
[submodule "src/libs/GFX_Buffer"]
	path = src/libs/GFX_Buffer
	url = https://github.com/vjmuzik/Adafruit_GFX_Buffer.git
